<div class="root">


  <div class="board">



    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">

          <div class="column-title">
            {{ column.name }}
          </div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag style="border-left: red;border-style: solid;border-top: none;border-right: none;">
              <div >


                              <div class="chat-area">
                                <div class="income-msg">
                                <img class="avatar" src="assets/download.png" alt="">
                                <span class="msg" style="margin: 20px;">{{item.title}}</span>
                                <div class="dropdown-container" tabindex="-1" style="padding-left: 70px;">
                                  <div class="three-dots" ></div>
                                  <div class="dropdown">
                                    <a href="" ><div>Add</div></a>
                                    <a href=""><div>download</div></a>
                                    <a href="#"><div>delete</div></a>
                                  </div>
                                </div>



                              </div>

                            </div>

                            <div class="card-footer">
                                <span class="label label-light-blue p7" style="margin-top: .4em; display: inline;">ID:{{item.id}}</span>
                                <span class="label label-purple p7" style="margin-top: .4em; display: inline;">date:{{item.date}} </span>

                            </div>

                    </div>


            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
