<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Drag and Drop
  </h1>

  <div class="clr-col-12" style="text-align: right;">
    <button id="add" class="btn btn-primary"  (click)="gotoadd()">
            <clr-icon shape="plus"></clr-icon>ADD
          </button>

          <button id="add" class="btn btn-primary" (click)="open = true">
            <clr-icon shape="plus"></clr-icon>create issues
          </button>
        </div>
        <div class="board-wrapper">

          <div class="board-columns">

  <ng-container *ngFor="let dropZone of droppableObjects; let i = index;">

    <div [appDroppable]="dropZone"
         (onDroppableComplete)="onZoneDrop($event)">
<div>
  <span>  <label for="">todo</label></span>

         <span class="add" style="float: right;">
          <cds-icon-button action="outline" status="success" (click)="gotoadd1()">
            <clr-icon shape="plus"></clr-icon>
        </cds-icon-button>
          </span> </div>
       <ng-container *ngFor="let draggableElement of draggableObjects[i]; let j = index;">
         <div [appDraggable]="draggableElement">
          <div [appDraggable]="draggableElement">




            <div >
              <div  class="clr-row clr-align-items-start clr-justify-content-start"  >
                  <div class="clr-col-auto" style="max-width: min-content;" >
                      <a class="card clickable"  routerLinkActive="actice" style="border-left: rgb(230, 28, 78); border-style: solid;">
                          <div class="card-block" >
                            <div class="chat-area">
                              <div class="income-msg">
                              <img class="avatar" src="assets/download.png" alt="">
                              <span class="msg"> Card Title.</span>
                              <div class="dropdown-container" tabindex="-1">
                                <div class="three-dots" ></div>
                                <div class="dropdown">
                                  <a href="" ><div>Add</div></a>
                                  <a href=""><div>download</div></a>
                                  <a href="#"><div>delete</div></a>
                                </div>
                              </div>

                              </div>

                            </div>

                          </div>
                          <div class="card-footer">
                              <span class="label label-light-blue p7" style="margin-top: .4em; display: inline;">ID:100</span>
                              <span class="label label-purple p7" style="margin-top: .4em; display: inline;">2021-09-17 </span>

                          </div>
                      </a>
                  </div>
              </div></div>

           </div>
         </div>
       </ng-container>
    </div>
  </ng-container>
</div></div></div>




<clr-wizard #wizard [(clrWizardOpen)]="open">
  <clr-wizard-title> Issue </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="onSave()">Finish</clr-wizard-button>
  <form [formGroup]="registerform">
  <clr-wizard-page>
      <ng-template clrPageTitle>Description</ng-template>
      <label for="id">Title</label><span class="required-field">*</span>
      <input type="text" placeholder="Enter title" name="title" required formControlName="title">
      <label for="des">Description</label><span class="required-field">*</span>
      <textarea name="description" id="" cols="10" rows="3" placeholder="Enter description" formControlName="description"></textarea>
      <label for="id">Tags</label><span class="required-field">*</span>
      <input type="text" placeholder="Enter tags" name="title" required>
    </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Time and Assignments</ng-template>
     <div>

      <div id="example" role="application" style="float:left;width:49%; margin-right:2%">
		    <div id="select" class="demo-section k-content">

            <h4 style="margin-top: 2em;">Story Points</h4>
            <select id="size" placeholder="Select size..." style="width: 300px;" >
              <option >easy
              <option >way
              <option >always
              <option >easily
            </select>


        </div>
</div>

<div id="example1" role="application" style="float:left;width:49%;margin-right:0">
		    <div id="select" class="demo-section k-content">

            <h4 style="margin-top: 2em;">Value Points</h4>
            <select id="size1" placeholder="Select size..." style="width: 300px;" >
              <option >C++
              <option >java
              <option >jquery
              <option >html
              <option >css
              <option >unix
            </select>


        </div>
 </div>
<div>
  <label for="index">Priority Index</label>
  <span class="label label" style="margin-top: .4em; display: inline; margin-left: 10px;background-color: rgb(231, 224, 224);">5.3</span>
</div>

 <div id="example" role="application" style="float:left;width:49%; margin-right:2%">
  <div id="select" class="demo-section k-content">

      <h4 style="margin-top: 2em;">Issue Type</h4>
      <select id="size" placeholder="Select size..." style="width: 300px;" >
        <option >easy
        <option >way
        <option >always
        <option >easily
      </select>


  </div>
</div>

<div id="example1" role="application" style="float:left;width:49%;margin-right:0">
  <div id="select" class="demo-section k-content">

      <h4 style="margin-top: 2em;">Assigned To</h4>
      <select id="size1" placeholder="Select size..." style="width: 300px;" >
        <option >C++
        <option >java
        <option >jquery
        <option >html
        <option >css
        <option >unix
      </select>


  </div>
</div>
 <div>Related Issue: <span class="text">Test Issue for wireframe create users #1110</span> </div>
<div><label for="date">Scheduled Date</label>
  <input type="date"></div>

  <div>
    <h4>Time Stats</h4>
    <div>Estimated Time: <span class="line">8Hrs</span> </div>
    <div>Elapsed Time: <span class="line">16 hrs 35 sec</span> </div>
    <div>Start Date And Time: <span class="line">07/07/2020 12:35:00</span> </div>
    <div>Completion Date And Time: <span class="line">07/07/2020 12:35:00</span> </div>

  </div><br>

  <div>
    <label for="myfile">Attachments:</label>
    <input type="file" id="myfile" name="myfile" value="Browse"><br><br>
  </div>
<div>
  <h4>Other Details</h4>
  <div>Project: <span class="text">Test Project</span> </div>
  <div>Repository: <span class="text">Test Repository</span> </div>
  <div>Sprint Test: <span class="text">sprint</span> </div>
  <div>Current Status: <span class="text">Spring Backlog</span> </div>
  <div>Clock Status: <span class="text">Not Started</span> </div>
  <div>Project Priority: <span class="text">yes</span> </div>
  <div>Pinned Status: <span class="text">yes</span> </div>
</div>

<div class="clr" style="padding-top: 10px;">
  <button id="add" class="btn btn-primary">CREATE SUBTASK </button>
<button id="add" class="btn btn-primary" >SHOW ACTIVITY</button>
      </div>
     </div>
     <div>
       <label for="task">Related Task</label>
       <span class="label label" style="margin-top: .4em; display: inline; margin-left: 10px;">1123</span>
       <span class="label label" style="margin-top: .4em; display: inline; margin-left: 10px;">994</span>
       <span class="label label" style="margin-top: .4em; display: inline; margin-left: 10px;">12233</span>
       <span class="label label" style="margin-top: .4em; display: inline; margin-left: 10px;">445</span>
     </div>
  </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Definition of Ready</ng-template>
      <label for="story">Story Details</label>
      <textarea name="" id="" cols="10" rows="1"></textarea>
      <label for="story" >Acceptance Criteria</label><br>
      scenario,given,when,then,and
      <textarea name="" id="" cols="10" rows="1"></textarea>
      Data,Expected Result, Expected Message
      <textarea name="" id="" cols="10" rows="1"></textarea>
      Functional Area,Business Rule,Pass/Fail details
      <textarea name="" id="" cols="10" rows="1"></textarea>
      scalibility
      <textarea name="" id="" cols="10" rows="1"></textarea>
      Test Case Demo Case
      <textarea name="" id="" cols="10" rows="1"></textarea>
      <div id="example" role="application" style="float:left;width:49%; margin-right:2%">
		    <div id="select" class="demo-section k-content">

            <h4 style="margin-top: 2em;">Estimates</h4>
            <select id="size" placeholder="Select size..." style="width: 300px;" >
              <option >easy
              <option >way
              <option >always
              <option >easily
            </select>


        </div>
</div>

<div id="example1" role="application" style="float:left;width:49%;margin-right:0">
		    <div id="select" class="demo-section k-content">

            <h4 style="margin-top: 2em;">DoR Approval Status</h4>
            <select id="size1" placeholder="Select size..." style="width: 300px;" >
              <option >C++
              <option >java
              <option >jquery
              <option >html
              <option >css
              <option >unix
            </select>


        </div>
 </div>




  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Definition of Done</ng-template>
    <div class="container">
      <div class="checkbox-con off">
        <input type="checkbox" />
        <label>Git Commited</label>

      </div>
      <div class="checkbox-con two">
        <input type="checkbox" checked />
        <label>Code Quality Review Done</label>

      </div>
      <div class="checkbox-con off">
        <input type="checkbox" />
        <label>Peer Reviewed</label>

      </div>
      <div class="checkbox-con two">
        <input type="checkbox" checked />
        <label>Builds Without Error</label>

      </div>
    </div>
    Unit Test Details
      <textarea name="" id="" cols="10" rows="1"></textarea>
      <div class="container">
        <div class="checkbox-con off">
          <input type="checkbox" />
          <label>Promoted To Test Instance</label>

        </div>
        <div class="checkbox-con two">
          <input type="checkbox" checked />
          <label>Configuration Changes Implemented And Documented</label>

        </div>
      </div>
      Unit Test Details
      <textarea name="" id="" cols="10" rows="1"></textarea>
      <div class="container">
        <div class="checkbox-con off">
          <input type="checkbox" />
          <label>Closed For Clocking</label>

        </div>

      </div>
      <div>
        <label for="myfile">Attachments:</label>
        <input type="file" id="myfile" name="myfile" value="Browse"><br><br>

      </div>
</clr-wizard-page>
</form>
</clr-wizard>
