<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Drag and Drop
  </h1>



      <div class="clr-col-12" style="text-align: right;">

        <button id="add" class="btn btn-primary"  (click)="gotoadd()">
          <clr-icon shape="plus"></clr-icon>ADD
        </button>
      </div>



  <ng-container *ngFor="let dropZone of droppableObjects; let i = index;" >


    <div [appDroppable]="dropZone"
         (onDroppableComplete)="onZoneDrop($event)">
         <div class="add" style="text-align: right;">

         <button id="add"   (click)="gotoadd1()" style="margin: 10px;">
          <clr-icon shape="plus"></clr-icon>
        </button></div>

       <ng-container *ngFor="let draggableElement of draggableObjects[i]; let j = index;">
         <div [appDraggable]="draggableElement">

            {{draggableElement.data.name}}
         </div>
       </ng-container>
    </div>
  </ng-container>
</div>

