
<h1>OAuth Configuration</h1>
<hr>
<div class="container">
  <form >

    <div class="row">
      <div class="col-25">
        <label for="fname">ClientID: <clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input type="text" id="token" name="token" placeholder="YOUR_CLIENT_ID">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Client Secret: <clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input type="text" id="doc" name="doc" placeholder="*****************************">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Authrization URL:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input type="text" id="id" name="id" placeholder="http://login.microsoftonline.com/YOUR_TaNANT_ID/oauth2/oauthrize">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Access Token URL:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="http://login.microsoftonline.com/YOUR_TaNANT_ID/oauth2/oauthrize">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Resource URL:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="http://login.microsoftonline.com/YOUR_TaNANT_ID/oauth2/oauthrize">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Redirect URL:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="http://login.microsoftonline.com/YOUR_TaNANT_ID/oauth2/oauthrize">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Logout URL:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="http://login.microsoftonline.com/YOUR_TaNANT_ID/oauth2/oauthrize">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">User Idetifire:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="USER Pricipal Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Scopes:<clr-icon shape="help" style="background-color:  rgb(92, 138, 207);"></clr-icon></label>
      </div>
      <div class="col-75">
        <input id="secret" type="text" name="secret" placeholder="id,email,name">
      </div>
    </div>

  </form>
</div>
